<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <form action="/api/newuser" method="post">

        <label for="">Username</label>
        <input type="text" name="username">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="password" name="password">

        <input type="submit" value="Inscrivez-vous">
    </form>
</body>
</html>