<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Car</title>
</head>
<body>
    <form action="/newcarsave" method="post">
        <label for="modele">Modele</label>
        <input type="text" id="modele" name="modele">
        <label for="marque">Marque</label>
        <input type="text" id="marque" name="marque">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <input type="submit" value="Envoyer">
    </form>  
</body>
</html>