<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact</title>
</head>
<body>
    <h1><%= var_test %></h1>
    <h2><%= var_test2 %></h2>
    <form action="/nouveaucontact" method="post">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="msg">Message</label>
        <textarea name="msg" id="msg"></textarea>
        <input type="submit" value="Envoyer">
    </form>  
</body>
</html>